.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clear {clear:both;}
.left {clear:left;}
.right {clear:right;}
.gray {background:#312829; color:#FFF;}
.gray a {color:#FFF;}
.gray a:hover {color:#00FF7F;}

/*body {font:62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; color:#000;}*/
body {font:80%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; color:#000;}
h1 {font-size:2.2em;}
h2 {font-size:2em;}
h3 {font-size:1.8em;}
h4 {font-size:1.6em;}
h5 {font-size:1.4em;}
p {}
a {}
a:visited {}
a:hover {}
ol {}
ul {}
li {}
form {}
fieldset {}
legend {}

body {
	/**/background:url(/images/splatter.png) no-repeat;
	min-width:870px;
}

#header {
	padding:15px 15px 0 0;
}

#header #logo {
	float:right;
	position:relative;
	margin-bottom:-48px;
}

#main_nav a:hover, #main_nav li {
	color:#00FF7F;
}