#content {
	background:#312829;
	color:#FFF;
	height:300px;
	overflow:auto;
	padding:10px;
	position:relative;
}

#main_nav {
	background:#312829;
	border-right:5px solid #fff;
	color:#FFF;
	float:left;
	height:300px;
	overflow:auto;
	padding:10px 0 10px 20px;
	position:relative;
	width:165px;
}

#main_nav li, #main_nav a:hover {
	color:#00FF7F;
}

#main_nav a{
	color:#FFF;
}

#footer {
	clear:both;
	padding-top:10%;
}