<% content_for :home_content do %>
<h2>About Me</h2>
<blockquote>
A true photograph need not be explained, nor can it be contained in words.
							-Ansel Adams. 
</blockquote>

<p>At Bara, my passion is to find the emotion in every shot, capturing the first kiss on your wedding day, your child's beautiful smile, or fianc&eacute;es loving eyes. It's about the simple emotions created in a beautiful surrounding.</p>
<p>With 8 years photography background and 2 years in the industry, I strive to bring a creative and unique perspective, whether it is your baby, engagement, or wedding day. I use nature as a backdrop and allow the subject to become comfortable with his/her surroundings. My photo-journalistic background helps create an emotional and serene photograph that will capture a moment and produce cherished memories for years.</p>
<p>At Bara, my mission is to capture the full beauty and emotion of the subject and connect with the bride or groom, child or baby, or couple on a deeper level through the art of photography.</p>
<p>Currently residing in Phoenix Arizona, I am also available for travel and destination weddings and events worldwide. Please contact for details and pricing.</p>

<% end -%>