<% content_for :home_content do %>
<h2>FAQ</h2>
<ul>
  <li>Q: What should I expect at a photo shoot?</li>
  <li>A: Each photo shoot is unique. However, things one should expect at a photo shoot are a laid back and easy environment. I love to shoot outdoors. An indoor studio backdrop is no substitute for beautiful mountains, great architecture, the place where you and your spouse first met, a grassy field or an old tree. If I am photographing a child I let them roam freely through the grass and play or dance. I love to capture the moment of happiness that is not contrived but natural. With engagements or wedding, I love to keep it as natural and emotional as the first date.</li>
  <li>Q: How long does the process take?</li>
  <li>A: The process is quite simple. At the photo shoot I take about two hours or less. I move around with the subject and find locations and spots that work for them. The editing and finishing of the product takes two weeks.</li>
  <li>Q: Have you ever done events outside of Arizona?</li>
  <li>A: Yes, I am available for world travel and have done events in Texas, California, as well as Mexico.</li>
  <li>Q: What is your pricing like?</li>
  <li>A: For children and engagements packages start at $500. For wedding it starts at $2000. Please call or email for more information and further pricing.</li>
</ul>
<% end -%>