<% content_for :photosets_sidebar do %>
<% # this partial is for the initial load %>
<%= render :partial => "photo_list" %>

<% end -%>

<% content_for :photosets_content do %>
<div id="photo"><%= render :partial=>"photo" %></div>
<% end -%>