<% content_for :stylesheets do %>
  <%= stylesheet_cache_link_tag "photos", :cached_name => "photos_styles" %>
<% end -%>

<% content_for :javascripts do %>
  <%= javascript_cache_include_tag "photos" %>
<% end -%>

<% content_for :content do %>
  <h1>Photos Layout</h1>
  <%= yield :photos_content %>
<% end -%>

<%= render :file => 'layouts/application' %> 