<% content_for :stylesheets do %>
  <%= stylesheet_cache_link_tag "photosets", :cached_name => "photosets_styles" %>
<% end -%>

<% content_for :content do %>
  <h1>Photosets Layout</h1>
  <%= yield :photosets_content %>
<% end -%>

<%= render :file => 'layouts/application' %> 